{% extends "templates/web.html" %}

{% block title %}{{ doc.project_name }}{% endblock %}

{% block header %}
	<h1>{{ doc.project_name }}</h1>
{% endblock %}

{% block style %}
	<style>
		{% include "erpnext/templates/includes/projects.css" %}
	</style>
	<style>
		.one, .two, .three, .four, .five{
			position:absolute;
			margin-top:-10px;
			z-index:1;
			height:40px;
			width:40px;
			border-radius:25px;
		}
		.one{
			left:0%;
		}
		.two{
			left:20%;
		}
		.three{
			left:40%;
		}
		.four{
			left:60%;
		}
		.five{
			left:80%;
		}
		#project_stage_box {
			border-radius: 10px;
			padding: 20px; 
			width: 200px;
			height: 60px;  
		}
		#project_stage_description {
			border-radius: 25px;
			background-color: white;
			padding: 20px; 
			width: 200px;
			height: 300px; 
			margin-top: -20px;
			margin-left: 40px;
			z-index: 1;
			font-weight: 400;
		}
		#project_stage_label {
			margin-top: -10px; 
			text-align: left; 
			color: white; 
			font-weight: 700;
		}
		* {
		box-sizing: border-box;
		}

	</style>
{% endblock %}

{% block page_content %}

{% if doc.percent_complete %}
<div class="progress progress-hg">
	<div class="progress-bar progress-bar-{{ "warning" if doc.percent_complete|round < 100 else "success" }} active"role="progressbar" aria-valuenow="{{ doc.percent_complete|round|int }}"
	aria-valuemin="0" aria-valuemax="100" style="width:{{ doc.percent_complete|round|int }}%;">
	</div>
</div>
{% endif %}	

<!--Get the first unfinished open task for the project-->
{% set curr_project = frappe.get_doc("Project", doc.name) %}
{% set tasks = [] %}
{% for t in curr_project.tasks %}
	{% if t.status != "Closed" %}
		{{ tasks.append(t.title) or ''}}
	{% endif %}
{% endfor %}
{% set first_open_task = (tasks|sort|first) %}

<div class="container">
	<div class="row"><br />
		<div class="col-md-12">
		<div class="progress"  style="width: 84%;">
		<!--display the progress bar based on the project stage-->
		{% set task_number = (first_open_task.split('-')[1]|int) %}
		{% set task_product = first_open_task.split('-')[0] %}
		{% if task_number == 0 %}
			{% set task_stage = 'Deposit' %}
			{% set progress_pourcentage = 0 %}
			{% set progress_color = '#5cb85c' %}
			{% set project_stage_description = "Waiting on message... <br><br><br> 1-3 days" %}
		{% elif task_number <= 2 %}
			{% set task_stage = 'Preflight' %}
			{% set progress_pourcentage = 25 %}
			{% set progress_color = '#E78037' %}
			{% set project_stage_description = "We examine your files and make sure they are print ready. Please make sure your files are done according to our graphic preparation guide to avoid delays <br><br><br> 1-3 days" %}
		{% elif (task_number <= 7 and  task_product == 'Folia') or (task_number <= 9 and task_product == 'Alto') %}
			{% set task_stage = 'PDF Approval' %}
			{% set progress_pourcentage = 50 %}
			{% set progress_color = '#A3A3A3' %}
			{% set project_stage_description = "Once your file is print ready, we send you a pdf file to approve. The lead time for your project will begin once you have approved the PDF file <br><br><br> 1-3 days" %}
		{% elif task_number >= 12 %}
			{% set task_stage = 'Shipping' %}
			{% set progress_pourcentage = 100 %}
			{% set progress_color = '#629BD0' %}
			{% set project_stage_description = "We carefully inspect each panel to ensure that your panels conform to our strict quality standards. We then carefully pack you panels so they are shipping on a cloud. <br><br><br> 3-7 days" %}
		{% else %}
			{% set task_stage = 'Production' %}
			{% set progress_pourcentage = 75 %}
			{% set progress_color = '#FCBE38' %}
			{% set project_stage_description = "Production begins! We will produce beautiful, quality panels for you. <br><br><br> 3-6 weeks" %}
		{% endif %}


		<!--Deposit dot-->
		<div data-toggle="tooltip" data-placement="top" title="Deposit" class="one" style="background-color: #5cb85c;">
				<span style="text-align: center; margin-top: 11px; margin-left: 12px" class="glyphicon glyphicon-usd" aria-hidden="true"></span>
		</div>
		<!--Preflight dot-->
		<div data-toggle="tooltip" data-placement="top" title="Preflight" class="two" style="background-color: #E78037;">
			<span style="text-align: center; margin-top: 11px; margin-left: 12px" class="glyphicon glyphicon-copy" aria-hidden="true"></span>
		</div>
		<!--PDF Approval dot-->
		<div data-toggle="tooltip" data-placement="top" title="PDF Approval" class="three" style="background-color: #A3A3A3;">
			<span style="text-align: center; margin-top: 11px; margin-left: 14px" class="glyphicon glyphicon-check" aria-hidden="true"></span>
		</div>
		<!--Production dot-->
		<div data-toggle="tooltip" data-placement="top" title="Production" class="four" style="background-color: #FCBE38;">
			<span style="text-align: center; margin-top: 11px; margin-left: 13px" class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
		</div>
		<!--Shipping dot-->
		<div data-toggle="tooltip" data-placement="top" title="Shipping" class="five" style="text-align: center; background-color: #629BD0;">
			<span style="text-align: center; margin-top: 11px;" class="glyphicon glyphicon-plane" aria-hidden="true"></span>
		</div>
		
		<div class="progress-bar progress-bar-striped active" style="background-color: {{progress_color}} !important; width: {{progress_pourcentage}}%"></div>

		</div>
	</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6" style="width: 25%;  ">
		<div id="project_stage_box" style="background-color: {{progress_color}};"><p id="project_stage_label" >{{task_stage}}</p></div>
		<p id="project_stage_description" style="color: {{progress_color}}; border: 2px solid {{progress_color}};">
			{{project_stage_description}}
		</p>
	</div>
	<div class="col-sm-6" style="width: 75%;  ">
		{% set shipping_address = frappe.get_list('Sales Order', filters={'project': '(1370) YOHO NATIONAL PARK', 'status': ['IN', ['Completed', 'To Bill', 'To Deliver and Bill']]}, fields=['shipping_address'])[0] %}
		<p>Shipping Address: <br> <strong>{{shipping_address['shipping_address']}}</strong></p>
		<p>Have a lift? ask other info for the list</p>
		<button type="button" class="btn btn-info" style="background: {{progress_color}};" onclick="update_shipping_address()">Update Shipping Informations</button>
		<!-- Only display those informations when the package is at Shipping-->
		{% if task_number >= 12 %}
			<p>Expected Delivery Date: <strong>{{doc.expected_end_date}}</strong></p>
			<p>Shipper:
				<a href="{{ frappe.db.get_value('Shipping Company', doc.shipping_company, 'website') }}" target="_blank">
					<strong data-toggle="tooltip" data-placement="top" title="Go to {{doc.shipping_company}} website">{{doc.shipping_company}}</strong>
				</a>
			</p>

			<p>Tracking Number: 
				<strong>
					<a href="{{ frappe.db.get_value('Shipping Company', doc.shipping_company, 'tracking_website') }}" target="_blank">
						<strong data-toggle="tooltip" data-placement="top" title="Track your package">{{doc.waybill}}</strong>
					</a>
				</strong>
			</p>
			<table class="table table-hover" style="width: 75%">
				<thead>
					<caption style="text-align: left;">Shipment Crates</caption>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Lenght(in)</th>
						<th scope="col">Width(in)</th>
						<th scope="col">Height(in)</th>
						<th scope="col">Gross Weight(lbs)</th>
						<th scope="col">Net Weight(lbs)</th>
					</tr>
				</thead>
				<tbody>
				{% for crate in doc.crates %}
					<tr>
						<th scope="row">{{ loop.index }}</th>
						<td>{{ crate.crate_lenght }}</td>
						<td>{{ crate.crate_width }}</td>
						<td>{{ crate.crate_height }}</td>
						<td>{{ crate.crate_gross_weight }}</td>
						<td>{{ crate.crate_net_weight }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
</div>

<br> <br>
<hr />

<div data-widget-host="habitat" id="wt_embed" style="width: 25%;" > 
	<script type="text/props">
	  {
		"wtEmbedKey": "a0124faf-6f51-4fb2-979b-b48552843532",
		"wtEmbedOutput": ".wt_embed_output"
	  }
	</script>
</div>
  <script async src="https://prod-embed-cdn.wetransfer.net/v1/latest.js"></script>
  <input type="text" name="wt_embed_output" id="wt_embed_output" class="wt_embed_output" />
  

<div class='padding'></div>
<p>Problem with the link above? </p>
<a href="https://wetransfer.com/?to={{doc.project_manager}}&msg={{doc.name}}" target="_blank">
	<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
	<strong data-toggle="tooltip" data-placement="top" title="Transfert your file with WeTransfer">Click here to transfert your file</strong>
</a>

{% if doc.attachments %}
<div class='padding'></div>
<h4>{{ _("Attachments") }}</h4>
	<div class="project-attachments">
		{% for attachment in doc.attachments %}
		<div class="attachment">
			<a class="no-decoration attachment-link" href="{{ attachment.file_url }}" target="blank">
				<div class="row">
					<div class="col-xs-9">
						<span class="indicator red file-name"> {{ attachment.file_name }}</span>
					</div>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
{% endif %}




<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Change Shipping Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-4">
			<input type="text" id="address_line_1" class="form-control validate" required>
			<label data-error="wrong" data-success="right" for="address_line_1">* Address Line 1</label>
        </div>

        <div class="md-form mb-3">
			<input type="text" id="address_city" class="form-control validate" required>
			<label data-error="wrong" data-success="right" for="address_city">* City/Town</label>
		</div>
		
        <div class="md-form mb-2">
			<input type="text" id="address_country" class="form-control validate" required>
			<label data-error="wrong" data-success="right" for="address_country">* Country</label>
		</div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default" onclick="update_shipping_address()">Save and change the shipping address</button>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Launch
    Modal Login Form</a>
</div>











<script>
	function update_shipping_address() {
		console.log("Test");
		address_line_1 = document.getElementById('address_line_1');
		address_city = document.getElementById('address_city');
		address_country = document.getElementById('address_country');
		console.log(address_line_1);
		console.log(address_city);
		console.log(address_country);
	}
	function myFunction() {
		if(document.getElementsByClassName('wt_embed__message')[0].getElementsByClassName('main')[0].textContent != 'Upload completed!'){
			setTimeout(myFunction, 500);
		}
		else{
			var wt_output = document.getElementById("wt_embed_output").value;
			frappe.call({
				method: "shei.templates.pages.projects.upload_wetransfer_link",
				args: {
					'doc_name': "{{ doc.name }}",
					'link': wt_output,
				},
				callback: function(content) {
				}
			});
		}
	}
	window.addEventListener("load", myFunction);
</script>
<script>

	{% include "frappe/public/js/frappe/provide.js" %}
	{% include "frappe/public/js/frappe/form/formatters.js" %}
</script>

{% endblock %}
