{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>

<table class="table table-striped w-auto">
    <caption>Command Detail</caption>
    <thead>
    <tr>
        <th>Height(in feet)</th>
        <th>Width (in feet)</th>
        <th>Quantity</th>
        <th>Back</th>
        <th>Studs Per Panel</th>
        <th>AV Nuts Per Panel</th>
        <th>Line Price CAD</th>
        <th>Unit Price CAD</th>
        <th>Unit Price USD</th>
        <th>SQFT Price</th>
        <th>Price before discount</th> <!--Panel Price w/ Back-->
        <th>Discount pourcentage</th>
        <th>Discounted Price</th>
    </tr>
</thead>
<tbody>
    
{% for item in product_configurator_items %}
    <tr>
       <td>{{ item['item_height'] }}</td>
       <td>{{ item['item_width'] }}</td>
       <td>{{ item['item_quantity'] }}</td>
       <td>{{ item['item_back'] }}</td>
       <td>{{ item['item_studs_per_panel'] }}</td>
       <td>{{ item['item_av_nuts_per_panel'] }}</td>
       <td>{{'%0.2f' % item['item_line_price_cad']|float}}</td>
       <td>{{ '%0.2f' % item['item_unit_price_cad']|float }}</td>
       <td>{{ '%0.2f' % item['item_unit_price_usd']|float }}</td>
       <td>{{ '%0.2f' % item['item_sqft_price']|float }}</td>
       <td>{{ '%0.2f' % item['item_panel_price_w_back']|float }}</td>
       <td>{{ item['item_discount_pourcent']|float }}</td>
       <td>{{ '%0.2f' % item['item_discount_price']|float }}</td>
    </tr>

   {% endfor %}
</tbody>
</table>

<table class="table table-striped w-auto">
        <caption>Price</caption>
        <thead>
        <tr>
            <th>Total Line Price CAD</th>
            <th>Total Unit Price CAD</th>
            <th>Total Unit Price USD</th>
            <th>Total Discounted (%)</th>
            <th>Final Price After Discount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td>{{ '%0.2f' % pc_total_line_price_cad |float}}</td>
           <td>{{ '%0.2f' % pc_total_line_price_cad |float}}</td>
           <td>{{ '%0.2f' % pc_total_unit_price_usd |float}}</td>
           <td>{{ pc_total_discount_pourcent }}</td>
           <td>{{ '%0.2f' % pc_total_discount_price |float}}</td>

        </tr>
    
    </tbody>
    </table>
{% endblock %}

<!-- this is a sample default web page template -->