{% extends "templates/web.html" %}
{% block page_content %}


<h1>{{ title }} </h1>

<!-- Set the default values-->
{% set contenteditable = 'false' %}
{% set button_status = 'none' %}
{% if workflow_state == 'Pending'%}
    {% set state_color = 'Orange'%}
    {% set state_message = _("One of our employee will review the given information to make sure everything match the file") %}
{% elif workflow_state == 'Approved' %}
    {% set state_color = 'Green'%}
    {% set state_message = _("The preflight have been approved! We can now proceed with your project.") %}
{% else %}
    {% set state_color = 'Red'%}
    {% set state_message = _("Something was wrong with the given information.") %}
{% endif %}

<!-- If the document is the last one created and is either rejected or
    doesn't have an item list (ie means this is a newly created document),
    set editable fields/buttons -->
{# We only want to let the client modify the latest Rejected Preflight Report. #}
{% if title == frappe.db.get_value('Preflight Review', {'project':project}, 'pr_name', order_by='name desc') and (not items or workflow_state == 'Rejected')%}
    <div style="float: right;">
        <button class="btn btn-info btn-rounded mb-4" onclick="update_preflight_review()" style="background: #f89925">{{_("Update Preflight Information")}}</button>
    </div>
    {% set contenteditable = 'true' %}
    {% set button_status = 'inline' %}
    {% set state_message = _("Something is wrong with the given information. Please review the notes and update this document accordingly") %}
{% endif %}



<h1 style="color: {{state_color}}">{{workflow_state}}</h1>
<div><i>{{state_message}}</i></div>

<hr>

<div>
    <strong>{{_("Related Project: ")}} </strong>
    <a href="/projects?project={{project}}"> {{project}}</a>
</div>
<br>
<table class="table table-hover" id="preflight_item_table" >
    <thead>
        <caption style="text-align: left;">{{_("Graphic File")}}</caption>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{_("Graphic File Name")}}</th>
            <th scope="col">{{_("Measurement")}}</th>
            <th scope="col">{{_("Panel Height")}}</th>
            <th scope="col">{{_("Panel Width")}}</th>
            <th scope="col">{{_("Panel Quantity")}}</th>
            <th scope="col">{{_("DieCut")}}</th>
            <th scope="col">{{_("Bleed")}}</th>
            <th scope="col">{{_("Picture")}}</th>
            <th scope="col">{{_("Fonts")}}</th>
            <th scope="col">{{_("Notes")}}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td scope="row">
                    {{loop.index}}
                    <br>
                    <input type="checkbox" name="row">
                </td>
                <td contenteditable={{contenteditable}}>{{item.filename}}</td>
                <td contenteditable={{contenteditable}}>
                    <select id="measurements-{{loop.index}}">
                        <option name="measurement" value=""></option>
                        <option name="measurement" value="Inches">Inches</option>
                        <option name="measurement" value="MM">MM</option>
                    </select>
                </td>
                <td contenteditable={{contenteditable}}>{{item.height}}</td>
                <td contenteditable={{contenteditable}}>{{item.width}}</td>
                <td contenteditable={{contenteditable}}>{{item.panel_qty}}</td>
                <td>{{item.diecut}}</td>
                <td>{{item.bleed}}</td>
                <td>{{item.picture}}</td>
                <td>{{item.fonts}}</td>
                <td>{{item.notes}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<button class="btn btn-info btn-rounded mb-4" onclick="add_row()" style="background: #f89925; display: {{button_status}}">{{_("Add Row")}}</button>
<button class="btn btn-info btn-rounded mb-4" onclick="remove_row()" style="background: #f89925; display: {{button_status}};">{{_("Remove Selected Rows")}}</button>


<script>
    window.addEventListener("load", SelectElement);
    //SelectElement();
    function SelectElement(){
        var table_str = convert_table_to_json();
        for(var i=1; i<table_str.length; i++){ //i=0 is equal to the header of the table
            frappe.call({
                method: "frappe.client.get_value",
                args: {
                    'doctype': "Preflight Item",
                    'filters': {'parenttype': 'Preflight Review', 'parent': '{{name}}', 'filename': table_str[i]['Graphic File Name']},
                    'fieldname': ["measurement","filename"],
                    'parent': 'Preflight Review',
                    'as_dict': 'True'
                },
                callback: function(content) {
                    var table_str = convert_table_to_json();
                    for(var i=1; i<table_str.length; i++){ //i=0 is equal to the header of the table
                        if(content['message']['filename'] == table_str[i]['Graphic File Name']){
                            var element = document.getElementById("measurements-"+i);
                            element.value = content['message']['measurement'];
                        }
                    }
                }
            });
        }
    }

    function remove_row() {
        var items=document.getElementsByName('row');
		for(var i=0; i<items.length; i++){
			if(items[i].type=='checkbox' && items[i].checked==true){
                document.getElementById("preflight_item_table").deleteRow(i+1); //the header count as a row in the table, so we want to skip the next one
            }
		}
    }

    function add_row() {
        var table = document.getElementById("preflight_item_table");
        var table_length = table.rows.length;
        var NewRow = table.insertRow(table_length);
        for (var i = 0; i < 11; i++) {
            var cell = NewRow.insertCell(i);
            if(i<=3){ //The client should only modify the first 4 column
                cell.innerHTML = "0000";
                cell.setAttribute("contenteditable", "{{contenteditable}}");
            }
        }
        //overwrite 2 cells who containt html element, not only text
        var first_cell = NewRow.insertCell(0);
        first_cell.innerHTML = table_length++ + "<br> <input type='checkbox' name='row'>";
        var third_cell = NewRow.insertCell(2);
        third_cell.innerHTML = "<select id=\'measurements-"+(table_length-1)+"\'> <option name=\'measurement\' value=\'\'></option> <option name=\'measurement\' value=\'Inches\'>Inches</option> <option name=\'measurement\' value=\'MM\'>MM</option> </select>";
    }

    //get the value of any dropdown with ID
	function get_dropdown_value(select_id){
        if(document.getElementById(select_id).selectedIndex == 0){
                frappe.throw(_("Sorry, you must enter all the measurements"));
        }
		var dock_selected_index = document.getElementById(select_id).selectedIndex;
		var dock_options = document.getElementById(select_id).options;
		return dock_options[dock_selected_index].text;
	}

    function update_preflight_review (){
        var table_str = convert_table_to_json();
        for (var i = 1; i < table_str.length; i++) {
            if(table_str[i]['Measurement'] == '' || table_str[i]['Measurement'] == null){
                frappe.throw(_("Sorry, you must enter all the measurements"));
            }
            table_str[i]['Measurement'] = get_dropdown_value('measurements-' + i);
        }
        frappe.call({
            method: "shei.shei.doctype.preflight_review.preflight_review.amend_preflight_review",
            args: {
                'doc_name': "{{ name }}",
                'items_str': table_str,
            },
            callback: function(content) {
            }
        });
    }

    function convert_table_to_json() {
        var myRows = [];
        var headersText = [];
        var $headers = $("th");

        // Loop through grabbing everything
        var $rows = $("tbody tr").each(function(index) {
            $cells = $(this).find("td");
            myRows[index] = {};
            $cells.each(function(cellIndex) {
                // Set the header text
                if(headersText[cellIndex] === undefined) {
                  headersText[cellIndex] = $($headers[cellIndex]).text();
                }
                // Update the row object with the header/cell combo
                myRows[index][headersText[cellIndex]] = $(this).text();
            });
        });
        return myRows;
    }
</script>
{% endblock %}


<!-- this is a sample default web page template -->